.body {
  font-family: 'Arial';
  margin: 20;
  padding: 20;
}

.aside {
	border: solid navy 1px;
	background-color: lightgoldenrodyellow;
	padding: 10px;
	margin: 0 0 20px 0;
}
.aside h2, .aside h3, .aside h4 {
	padding: 0;
	margin: 20px 0;
} 
.aside ul li {
  list-style-type: none;
}

a {
	text-decoration: underline;
}